ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
        list-style: none;
        margin-bottom: 1.5rem;

        img {
            height: 250px;
            width: auto;

            &:hover {
                height: 300px;
            }
        }
    }
}