<ng-container *ngIf="mediaList.length">
    <ul>
        <li *ngFor="let movie of mediaList; trackBy:identity">
            <div class="img-wrapper" (click)="setSelected(movie.id)">
                <img class="img-fluid" id="{{movie.id}}" src="{{movie.poster}}" alt="Poster for {{movie.title}}">
                <div class="overlay">{{movie.title}}</div>    
            </div>
        </li>
    </ul>

    <app-detail-modal *ngIf="showModal" [selected]="selectedMovie" (modalClose)="resetModal($event)"></app-detail-modal>
</ng-container>
